# Use this file to set test environment variables locally.
# To use, remove the .example at the end.
DB_SECRET=CHANGEME
JWT_SECRET=CHANGEME
ADMIN_EMAIL=admin@example.com
ADMIN_PASS=CHANGEME
MONGO: mongodb://localhost:27017/formio-test
PDF_SERVER=http://localhost:4005
PORT=3000
LICENSE_KEY=YourLicenseKey
DROPBOX_CLIENTID=clientid123
DROPBOX_CLIENTSECRET=clientsecret123
TEST_SUITE=1
PROTOCOL: http
DOMAIN: localhost
