packages:
  yum:
    aws-kinesis-agent: []
container_commands:
  01_start_kinesis_agent:
    command: |
      AWSENV=`aws ec2 describe-tags   --output text   --filters "Name=resource-id,Values=$(/opt/aws/bin/ec2-metadata -i | awk '{print $2}')"             "Name=key,Values=elasticbeanstalk:environment-name"   --region "$(/opt/aws/bin/ec2-metadata -z | awk '{print substr($2, 0, length($2)-1)}')"   --query "Tags[*].Value"`
      sudo sed -i "s/ENVIRONMENT/$AWSENV/g" /etc/aws-kinesis/agent.json
  02_start_kinesis_agent:
    command: sudo service aws-kinesis-agent restart
  03_check_kinesis_agent_startup:
    command: sudo chkconfig aws-kinesis-agent on
files:
  "/etc/aws-kinesis/agent.json":
    mode: "000755"
    owner: root
    group: root
    content: |
      {
        "cloudwatch.endpoint": "https://monitoring.us-west-2.amazonaws.com",
        "kinesis.endpoint": "https://kinesis.us-west-2.amazonaws.com",
        "firehose.endpoint": "https://firehose.us-west-2.amazonaws.com",
        "awsAccessKeyId": "AKIAJBKFNUPC3LIO425A",
        "awsSecretAccessKey": "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",
        "flows": [
          {
            "filePattern": "/var/log/eb-docker/containers/eb-current-app/*.log",
            "deliveryStream": "ENVIRONMENT",
            "dataProcessingOptions": [
              {
                "optionName": "LOGTOJSON",
                "logFormat": "COMMONAPACHELOG",
                "matchPattern": "^([\\d-T:Z.]+) formio:log ([0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}) ([0-9a-f]{24}|NoProject) (\\w+) (.*)$",
                "customFieldNames": ["datetime", "id", "projectId", "type", "info"]
              }
            ]
          }
        ]
      }
